body
{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
}
.header
{
height: 60px;
width: 100%;
background-color: #fff9f9;
display: flex;
align-items: center;
justify-content: center;
}
.logo-area
{
display: flex;
align-items: center;
}
.logo-text
{
    font-size: 40px;
    background: linear-gradient(to right, #8f8f8f, #2929f7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#map
{
height: calc(100vh - 60px);
width: 100%;
}
